<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>gMovies</title>
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary the-navbar">
      <a class="navbar-brand the-navbar" href="#">gMovies</a>
    </nav>
  </header>

  <div class="wrapper">

    <h1>Add a Movie</h1>

    <div class="form-div">
      <div class="create-movie-form">
        <form action="/createmovie" method="POST">
          <input type="text" name="title" placeholder="Title">
          <input type="text" name="desc" placeholder="Description">
          <input type="text" name="genre" placeholder="Genre">
          <button type="submit" id="createMovieButton" class="btn">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <!--end wrapper-->
</body>

</html>
