.row {
  margin:0;
  padding:0;
}
.wrapper {
  padding: 50px 50px 50px 50px;
  text-align: center;
}
.button-div {
  background-color: red;
  padding: 50px 0;
}
.main-div {
  background-color: #f2f2f2;
  padding:25px 75px;
}
.movie-card {
  border: 1px gray solid;
  background-color: blue;
  overflow: hidden;
  padding: 20px 10px;
}
.title-and-description {
  background-color: pink;
  min-height: 100px;
}
.movie-title {
  text-align: left;
}
.movie-description {
  text-align: left;
}
.votes {
  background-color: purple;
  min-height: 100px;
}
